@appPrefixUrl: "ledeteksteditor";
@img: "/@{appPrefixUrl}/img/midlertidig";
@modig-frontend-root-url: "./node_modules/modig-frontend/modig-frontend-ressurser/src/main/resources";

@import "@{modig-frontend-root-url}/less/includes/mixins";
@import "@{modig-frontend-root-url}/less/includes/variables";

@import "@{modig-frontend-root-url}/less/decorator/modus";
@import "@{modig-frontend-root-url}/less/decorator/grid";
@import "@{modig-frontend-root-url}/less/decorator/lenker";
@import "@{modig-frontend-root-url}/less/decorator/knapper";
@import "@{modig-frontend-root-url}/less/decorator/typografi";
@import "@{modig-frontend-root-url}/less/decorator/utilities";

@import "@{modig-frontend-root-url}/less/nav_extra/typografi";
@import "@{modig-frontend-root-url}/less/nav_extra/paneler";
@import "@{modig-frontend-root-url}/less/nav_extra/spinner";
@import "@{modig-frontend-root-url}/less/nav_extra/hoder";
@import "@{modig-frontend-root-url}/less/nav_extra/skjema";
@import "@{modig-frontend-root-url}/less/decorator/knapper";
@import "@{modig-frontend-root-url}/less/nav_extra/utilities";
@import "@{modig-frontend-root-url}/less/nav_extra/lister";


@import "./felles/main";

html, body {
  padding: 0;
  margin: 0;
}

main {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

h1 {
  text-align: center;
}

//redigertekstboks
.form-redigertekst {
  position: relative;
  width: 70%;
}

.textarea-redigertekst {
  margin: 0 1rem 1rem 0;
  display: block;
  resize: none;
  width: 100%;
  height: 4em;
}

.knapp-lagretekst {
  display: block;
  float: right;
}

.knapp-avbrytrediger {
  display: block;
  float: right;
  margin-right: 1rem;
}

.tekst-uendretinnhold {
  padding-bottom: 1rem;
}

.rediger-ledetekst-element{
  left: 50%;
}

* {
  box-sizing: border-box;
}


.spinner {
  background: none;
  margin-top: 5rem;
}

.siteheader {
  padding: 1rem;
  background: #3e3832;
  color: #f1f1f1;
}
