.panel-ramme-tilpasset{
  .panel-ramme();
  border-width: 2px;
  box-shadow: none;
  :focus{
    box-shadow: 0 0 0 3px #ffbd66;
  }
}

.panel-klikkbart-komprimert-ramme-tilpasset{
  .panel-klikkbart();
  .panel-komprimert();
  .panel-ramme-tilpasset();
}
