html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.siteheader {
  padding: 1rem;
  background: @color-text;
  color: @color-background;
}

.spinner {
  background: none;
  margin-top: 5rem;
}

.innholdslaster {
  text-align: center;
}

.spinner{
  display: inline-flex;
}

.logo-header {
  vertical-align: middle;
  height: 4rem;
  padding-bottom: 0.7rem;
  margin-right: 0.5rem;
}

.textarea-redigertekst {
  resize: none;
  height: 5em;
}

.lenke-avstand {
  margin-left: 1em;
}

.knapperad-hoyrestilt {
  text-align: right;
}

.sokefelt {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}

.sokefelt input {
  padding-right: 25px;
}

.sokefelt .knapp-sok {
  background-image: url("/@{appPrefixUrl}/img/navno/gfx/mainmenu/sok_liten_morkeblaa.svg");
  background-color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 1rem;
  height: 100%;
  border: 0;
  right: 9px;
  padding-right: 10px;
}