html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.siteheader {
  padding: 1rem;
  background: #3e3832;
  color: #f1f1f1;
}

.center-text {
  text-align: center;
}

.spinner {
  background: none;
  margin-top: 5rem;
}

