.app-tittel {
  height: 4rem;
  display: block;
  text-align: center;
}

.logginn-info {
  position: absolute;
  width: 40%;
  top: 1.25rem;
  right: 0;
  text-align: right;
}

.logginn-tekst {
  padding-right: 8px;
}

.til-appoversikt {
  position: absolute;
  top: 1.25rem;
  left: 0;
}

.hvit-link {
  color: white;
}

.tekst-tilappoversikt:hover {
  text-decoration: underline;
}

.siteheader {
  padding: 0;
}

.logo-header {
  margin-top: -0.125rem;
  padding-bottom: 0;
}

.tittel-header {
  padding-top: 1.375rem;
}

.tekst-tilappoversikt {
  padding-left: 5px;
}

.pil-tilbake {
  height: 0.625rem;
}

@media (max-width: 48em) {
  .logginn-tekst {
    //visibility: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

@media (max-width: 30em) {
  .tittel-header {
    //visibility: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .til-appoversikt {
    position: relative;
  }

  .logginn-info {
    position: relative;
    top: 0;
  }
}