.app-tittel {
  display: block;
  text-align: center;
}

.logginn-info {
  position: absolute;
  top: 14px;
  right: 0;
}

.til-appoversikt {
  position: absolute;
  top: 15px;
  left: 0;
}

.hvit-link {
  color: white;
}