<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>ledeteksteditor</display-name>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>no.nav.sbl.ledeteksteditor.config.ApplicationConfig</param-value>
    </context-param>

    <filter>
        <filter-name>charEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>charEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>RestAPI</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>no.nav.sbl.ledeteksteditor.rest.Application</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestAPI</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <!-- Start Swagger -->
    <!-- Swagger grafisk api auto-dokumentasjon-->
    <!-- servlet som tilbyr /api-beskrivelse/swagger.json-->
    <servlet>
        <servlet-name>Swagger</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                io.swagger.jaxrs.listing,
                no.nav.sbl.ledeteksteditor.rest
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Swagger</servlet-name>
        <url-pattern>/internal/api/*</url-pattern>
    </servlet-mapping>
    <!--Servlet som setter instillinger som brukes av servleten Swagger-->
    <servlet>
        <servlet-name>Jersey2Config</servlet-name>
        <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0.0</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.host</param-name>
            <!-- Swagger tar i mot host som init -->
            <param-value>http://a34duvw25882.devillo.no:8182</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>/ledeteksteditor/api/</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!-- Servlet hosting static swagger-ui filer-->
    <servlet>
        <servlet-name>SwaggerServlet</servlet-name>
        <servlet-class>no.nav.sbl.ledeteksteditor.SwaggerServlet</servlet-class>
        <init-param>
            <param-name>applicationFile</param-name>
            <param-value>index.html</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SwaggerServlet</servlet-name>
        <url-pattern>/internal/swagger/*</url-pattern>
    </servlet-mapping>
    <!-- Slutt Swagger -->

    <servlet>
        <servlet-name>SelftestServlet</servlet-name>
        <servlet-class>no.nav.sbl.ledeteksteditor.selftest.SelftestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelftestServlet</servlet-name>
        <url-pattern>/internal/selftest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelftestJsonServlet</servlet-name>
        <servlet-class>no.nav.sbl.ledeteksteditor.selftest.SelftestJsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelftestJsonServlet</servlet-name>
        <url-pattern>/internal/selftest.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>isAlive</servlet-name>
        <servlet-class>no.nav.sbl.ledeteksteditor.selftest.IsAliveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>isAlive</servlet-name>
        <url-pattern>/internal/isAlive</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AppServlet</servlet-name>
        <servlet-class>no.nav.sbl.ledeteksteditor.AppServlet</servlet-class>
        <init-param>
            <param-name>applicationFile</param-name>
            <param-value>index.html</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
